article {
    display: grid;
    grid-template-rows: 70px 300px 300px  70px;
    grid-template-columns: 200px  250px  auto  auto;
    grid-template-areas: "header header  header header"
                         "aside aside content1 content1"
                         "aside aside content2 content3"
                         "footer footer footer footer";
    background-color: rgb(81, 80, 80);
}

header {
    grid-area: header;
    background-color: plum;
    margin: 10px;
    text-align: center;
    color: white;
    border: 10px solid black;
}
aside {
    grid-area: aside;
    background-color: mediumaquamarine;
    margin: 10px;
    text-align: center;
    color: white;
    border: 10px solid black;
}
#content1 {
    grid-area: content1;
    background-image: linear-gradient(to top left, plum, lightblue, mediumaquamarine);
    margin: 10px;
    text-align: center;
    color: white;
    border: 10px solid black;
}
#content2 {
    grid-area: content2;
    background-image: linear-gradient(to top left, plum, lightblue, mediumaquamarine);
    margin: 10px;
    text-align: center;
    color: white;
    border: 10px solid black;
}
#content3 {
    grid-area: content3;
    background-image: linear-gradient(to top left, plum, lightblue, mediumaquamarine);
    margin: 10px;
    text-align: center;
    color: white;
    border: 10px solid black;
}
footer {
    grid-area: footer;
    background-color: plum;
    margin: 10px;
    text-align: center;
    color: white;
    border: 10px solid black;
}