body {
    background-image: linear-gradient(to right, white, silver, white);
}
article {
    display: grid;
    grid-template-rows: auto 70px 550px 300px 400px 400px auto;
    grid-template-columns: auto auto 100px 150px;
    grid-template-areas: "header header  header header"
                         "nav nav nav nav"
                         "content1 content1 aside aside"
                         "content2 content3 aside aside"
                         "content4 content4 content4 content4"
                         "content5 content5 content5 content5"
                         "footer footer footer footer";
    background-image: linear-gradient(to right, white, silver, white);
}

header {
    background-image: linear-gradient(to right, white, silver, white);
    grid-area: header;
    background-color: white;
    margin-top: 5px;
    margin: 30px;
}

nav {
    grid-area: nav;
    background-color: gray;
    margin-top: 3px;
    margin: 5px;
    text-align: center;
    display: flex;
    justify-content: space-around;
}
aside {
    grid-area: aside;
    background-image: url(kindle.png);
    background-size: 100%;
    margin: 5px;
    text-align: center;
    
}
#content1 {
    grid-area: content1;
    background-image: url(Anne.png);
    background-size: cover;
    margin: 5px;
}
#content2 {
    grid-area: content2;
    background-image: url(dune.png);
    background-size: cover;
    margin: 5px;

}
#content3 {
    grid-area: content3;
    background-image: url(Prince.png);
    background-size: cover;
    margin: 5px;
}
#content4 {
    grid-area: content4;
    background-image: url(universe.png);
    background-size: cover;
    margin: 5px;
}

#content5 {
    grid-area: content5;
    background-image: url(history.png);
    background-size: cover;
    margin: 5px;
}
footer {
    grid-area: footer;
    margin: 5px;
}
h1 {
    margin-top: 0.0em;
    margin-bottom: 0.0em;
}
p {
    margin-top: 0.0em;
    margin-bottom: 0.0em;
}

.account { 
    float: right;
    margin: 5px;
    margin-top: 0.0em;
    font-size: 20px;
    padding: 7px;
    text-decoration: none;
}

.navigation {
    text-decoration: none;
    color: black;
    margin-left: 50px;
    font-size: 18px;
}

a:hover {
    text-decoration: underline;
}

nav input[type="text"] {
    padding: 10px;
    margin: 8px;
    border-radius: 0.5px solid black;
    font-size: 17px;
   
}

#content1 a {
    color: white;
    text-decoration: none;
    position: relative;
    top: 450px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;
    padding: 28px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}

#content1 a:hover {
    text-decoration: underline;
}

#content2 a {
    color: white;
    text-decoration: none;
    position: relative;
    top: 200px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    padding: 24px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}

#content2 a:hover {
    text-decoration: underline;
}

#content3 a {
    color: white;
    text-decoration: none;
    position: relative;
    top: 200px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    padding: 24px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}

#content3 a:hover {
    text-decoration: underline;
}

#content4 a {
    color: white;
    text-decoration: none;
    position: relative;
    top: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;
    padding: 28px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}

#content4 a:hover {
    text-decoration: underline;
}

#content5 a {
    color: white;
    text-decoration: none;
    position: relative;
    top: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;
    padding: 28px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}

#content5 a:hover {
    text-decoration: underline;
}

.book {
    padding-top: 21.5px;
    position: relative; 
}

.book_content {
    display: none;
    position: absolute; 
    top: 100%; 
    left: 0;
    z-index: 1; 
    width: 150px;
    flex-direction: column;
}

.book:hover .book_content {
    display: flex;
    background-image: linear-gradient(to right, lightgray, silver, white);
}

.book_content a {
    color: black;
    text-decoration: none;
    margin: 5px;
}

.book_content a:hover{
    text-decoration: underline;
}

.homepage {
    padding-top: 21.5px;
    position: relative;

}

.homepage_content {
    display: none;
    position: absolute; 
    top: 100%; 
    left: 0;
    z-index: 1; 
    width: 190px;
    flex-direction: column;
}

.homepage:hover .homepage_content {
    display: flex;
    background-image: linear-gradient(to right, lightgray, silver, white);
}

.homepage_content a {
    color: black;
    text-decoration: none;
    margin: 5px;
}

.new {
    padding-top: 21.5px;
    position: relative; 
}

.new_content {
    display: none;
    position: absolute; 
    top: 100%; 
    left: 0;
    z-index: 1; 
    width: 200px;
    flex-direction: column;
}

.new:hover .new_content {
    display: flex;
    background-image: linear-gradient(to right, lightgray, silver, white);
}

.new_content a {
    color: black;
    text-decoration: none;
    margin: 5px;
}

.new_content a:hover{
    text-decoration: underline;
}

.review {
    padding-top: 21.5px;
    position: relative; 
}

.review_content {
    display: none;
    position: absolute; 
    top: 100%; 
    left: 0;
    z-index: 1; 
    width: 220px;
    flex-direction: column;
}

.review:hover .review_content {
    display: flex;
    background-image: linear-gradient(to right, lightgray, silver, white);
}

.review_content a {
    color: black;
    text-decoration: none;
    margin: 5px;
}

.review_content a:hover{
    text-decoration: underline;
}

.other {
    padding-top: 21.5px;
    position: relative; 
}

.other_content {
    display: none;
    position: absolute; 
    top: 100%; 
    left: 0;
    z-index: 1; 
    width: 170px;
    flex-direction: column;
}

.other:hover .other_content {
    display: flex;
    background-image: linear-gradient(to right, lightgray, silver, white);
}

.other_content a {
    color: black;
    text-decoration: none;
    margin: 5px;
}

.other_content a:hover{
    text-decoration: underline;
}

.contact {
    padding-top: 21.5px;
    position: relative; 
}

.contact_content {
    display: none;
    position: absolute; 
    top: 100%; 
    left: 0;
    z-index: 1; 
    width: 170px;
    flex-direction: column;
}

.contact:hover .contact_content {
    display: flex;
    background-image: linear-gradient(to right, lightgray, silver, white);
}

.contact_content a {
    color: black;
    text-decoration: none;
    margin: 5px;
}

.contact_content a:hover{
    text-decoration: underline;
}

